html {
    scroll-behavior: smooth;
    cursor: url("images/point2.png"), default;
}

body {
    width: 80%;
    margin-left: 10%;
    background-image: linear-gradient(to top right, #3f9c90, #c23131);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#about-us {
    padding-top: 130px;
}

#title {
    font-size: 30px;
}

div.header {
    transition: 0.5s;
    background-image: linear-gradient(200deg, #dc3f64, #111118);
    box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, .7);
    height: 130px;
    padding: 5px;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    font-size: 20px;
    z-index: 5;
    color: #3f9c90;
}

div.header:hover {
    box-shadow: 0px 10px 20px -5px #000000;
}

.background-edit {
    height: 1350px;
    width: 100%;
    background-image: linear-gradient(200deg, #888aa3, #ce7b8f);
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu div {
    padding: 10px;
}

#img {
    transition: 1.0s;
    width: 200px;
    height: 200px;
    padding: 50px;
    box-shadow: 0px 10px 50px -5px rgba(0, 0, 0, .7);
}

#img:hover {
    width: 250px;
    height: 250px;
    padding: 10px;
    box-shadow: 0px 10px 20px -5px #000000;
    background-image: linear-gradient(200deg, #44dc3f, #111118);
}

.fact {
    position: relative;
    padding: 20px;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.design {
    width: 300px;
    padding-top: 140px;
    text-align: center;
}

.object {
    font-size: 50px;
}

footer {
    display: flex;
    justify-content: flex-end;
}

footer a {
    margin: 10px;
}

a:link {
    color: #861313;
    text-decoration: none;
    cursor: url("images/linkpoint2.png"), default;
}

a:visited {
    color: #645264;
}

a:hover {
    text-decoration: dashed;
    color: #0000ff;
    cursor: url("images/linkpoint2.png"), default;
}

a:active {
    color: #ff0000;
    cursor: url("images/linkpoint2.png"), default;
}